@model IEnumerable<HabitAqui.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <form action="Search" method="GET">
                        <div class="input-group">
                            <input type="text" name="textoAPesquisar"
                                   id="textoAPesquisar" placeholder="Pesquisar..."
                                   class="form-control form-control-sm" />

                            <button type="submit"
                                    class="btn btn-default ms-2 me-2">
                                <svg bootstrap-icon="Search"
                                     class="text-warning" width="24" height="24"
                                     aria-label="Search"></svg>
                            </button>
                        </div>
                    </form>

                    <h1 class="mb-3">Propriedades</h1>
                    <p>Aqui pode pesquisar a nossa seleção de habitações! Clique na que desejar para ver mais informações.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-end mx-auto mb-5 wow slideInRight" data-wow-delay="0.1s">
                    <a class="btn btn-success" asp-action="Create">Nova Habitação</a>
                </div>
            </div>
        </div>
    </div>
</div>




        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    @foreach (var Habitacao in Model)
                    {
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a asp-controller="Habitacoes" asp-action="Details" asp-route-id="@Habitacao.Id"><img class="img-fluid" src="~/img/@Habitacao.Image" alt=""></a>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">@Habitacao.Tipo</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">$12,345</h5>
                                    <a class="d-block h5 mb-2" href="">@Habitacao.Nome</a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>@Habitacao.Localizacao</p>
                                </div>
                                <div class="d-flex border-top">
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-ruler-combined text-primary me-2"></i>@Habitacao.Area m²</small>
                                    <small class="flex-fill text-center border-end py-2"><i class="fa fa-bed text-primary me-2"></i>@Habitacao.NBedroom Quartos</small>
                                    <small class="flex-fill text-center py-2"><i class="fa fa-bath text-primary me-2"></i>@Habitacao.NBath Banho</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@* <table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdArrendamento)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdTipo)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdLocador)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Danos)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdContrato)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdArrendamento)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdTipo)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdLocador)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Avaliacao)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdEstado)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Danos)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table> *@

