@model IEnumerable<HabitAqui.Models.Habitacao>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Habitações</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <table class="table">
    <thead>
        <tr>
            <th>
@Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdContrato)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Disponivel)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdArrendamento)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdTipo)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdLocador)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Avaliacao)
            </th>
            <th>
@Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Danos)
            </th>
            <th>
@Html.DisplayNameFor(model => model.Observacoes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
            <tr>
                <td>
            @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdContrato)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Disponivel)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Localizacao)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdArrendamento)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdTipo)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdLocador)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Avaliacao)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.IdEstado)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Danos)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
}
    </tbody>
</table> *@

