@model HabitAqui.Models.Empresa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avaliacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avaliacao)
        </dd>
        <dt class="col-sm-2">
            Car list
        </dt>
        <dd class="col-sm-10">
            @if (Model.Habitacoes == null)
            {
                <a>Sem habitacoes para mostrar </a>
            }
            @if (Model.Habitacoes != null)
            {
                var counter = 0;
                @foreach (var habitacao in Model.Habitacoes)
                {
                    var HabitacoesDisplay = habitacao.Empresa + " " + habitacao.Tipologia;
                    counter++;
                    if (counter == Model.Habitacoes.Count)
                    {
                        HabitacoesDisplay += " ";
                    }
                    else
                    {
                        HabitacoesDisplay += ", ";
                    }
                    @Html.DisplayFor(modelItem => HabitacoesDisplay)
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
